* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #006633;
    color: #fff;
}


#container {
    margin: 24px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.btn {
    border-radius: 6px;
    min-height: 24px;
    padding: 6px 12px;
    border: 2px solid #fff;
}

.btn-success {
    background-color: #16b120;
    color: #fff;
}

.btn-danger {
    background-color: #ff0000;
    color: #fff;
}

.restart {
    visibility: hidden;
}

.col {
    margin: 24px 0;
}

.output {
    font-size: 16px;
    font-weight: bold;
}

.split {
    visibility: hidden;
}